
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}
.text {
    position: absolute;
    top: 70px;
}
.container {
    position: relative;
    max-width: 300px;
    width: 100%;
    padding: 10px 20px 20px;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
.display {
    height: 80px;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
    font-size: 25px;
    border: none;
    text-align: right;
    color: #000e1a;
    pointer-events: none;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    border-bottom: 1px solid;
}
.buttons button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
}
.buttons button:hover {
    background-color: #eef;
}
.buttons button:active {
    transform: scale(0.99);
}
.operator {
    color: #2f9fff;
}